asgiref==3.7.2
Django==5.0.3
django-extensions==3.2.3
django-filter==23.5
django-rest-framework==0.1.0
djangorestframework==3.14.0
djangorestframework-jsonapi==6.1.0
inflection==0.5.1
python-dotenv==1.0.1
pytz==2024.1
sqlparse==0.4.4
